In [44]:
from pyspark import SparkConf, pandas as ps
from pyspark.sql import SparkSession, functions as sf
from pyspark.sql.functions import col, collect_list
from pyspark.sql.types import *
import time

/usr/local/spark/python/pyspark/pandas/__init__.py:50: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

In [45]:
conf = SparkConf().set("spark.driver.memory", "8g")

spark_session = SparkSession\
    .builder\
    .master("local")\
    .config(conf=conf)\
    .appName("Spark UI Tutorial") \
    .getOrCreate()

In [85]:
# schema = StructType([
#     StructField("Transaction_ID", IntegerType(), True),
#     StructField("Date", DateType(), True),
#     StructField("Customer_Name", StringType(), True),
#     StructField("Product", ArrayType(StringType()), True),
#     StructField("Total_Items", IntegerType(), True),
#     StructField("Total_Cost", DecimalType(), True),
#     StructField("Payment_Method", StringType(), True),
#     StructField("City", StringType(), True),
#     StructField("Store_Type", StringType(), True),
#     StructField("Discount_Applied", BooleanType(), True),
#     StructField("Customer_Category", StringType(), True),
#     StructField("Season", StringType(), True),
#     StructField("Promotion", StringType(), True)
# ])


df = spark_session.read.csv('Retail_Transactions_Dataset.csv', header=True, inferSchema=True, quote='"')
df.head()

Row(Transaction_ID=1000000000, Date=datetime.datetime(2022, 1, 21, 6, 27, 29), Customer_Name='Stacey Price', Product="['Ketchup', 'Shaving Cream', 'Light Bulbs']", Total_Items=3, Total_Cost=71.65, Payment_Method='Mobile Payment', City='Los Angeles', Store_Type='Warehouse Club', Discount_Applied=True, Customer_Category='Homemaker', Season='Winter', Promotion='None')

In [84]:
# df.Product = df.Product.cast(ArrayType(StringType()))

In [52]:
customers = df[['Customer_Name', 'Customer_Category']]

In [53]:
customers.head(10)

[Row(Customer_Name='Stacey Price', Customer_Category='Homemaker'),
 Row(Customer_Name='Michelle Carlson', Customer_Category='Professional'),
 Row(Customer_Name='Lisa Graves', Customer_Category='Professional'),
 Row(Customer_Name='Mrs. Patricia May', Customer_Category='Homemaker'),
 Row(Customer_Name='Susan Mitchell', Customer_Category='Young Adult'),
 Row(Customer_Name='Joshua Frazier', Customer_Category='Retiree'),
 Row(Customer_Name='Victoria Garrett', Customer_Category='Student'),
 Row(Customer_Name='Sydney Waller', Customer_Category='Young Adult'),
 Row(Customer_Name='Kimberly Morgan', Customer_Category='Homemaker'),
 Row(Customer_Name='Lori Conway', Customer_Category='Young Adult')]

In [96]:
 # = sf.split(df.Product,',')
# print(products)
# prods = [sf.split(p, ',').alias("Product") for p in products]
# print(prods)
tran_prod = df.select("Transaction_ID", sf.explode(sf.split(df.Product,',')).alias("Product"))
tran_prod.head(10)

[Row(Transaction_ID=1000000000, Product="['Ketchup'"),
 Row(Transaction_ID=1000000000, Product=" 'Shaving Cream'"),
 Row(Transaction_ID=1000000000, Product=" 'Light Bulbs']"),
 Row(Transaction_ID=1000000001, Product="['Ice Cream'"),
 Row(Transaction_ID=1000000001, Product=" 'Milk'"),
 Row(Transaction_ID=1000000001, Product=" 'Olive Oil'"),
 Row(Transaction_ID=1000000001, Product=" 'Bread'"),
 Row(Transaction_ID=1000000001, Product=" 'Potatoes']"),
 Row(Transaction_ID=1000000002, Product="['Spinach']"),
 Row(Transaction_ID=1000000003, Product="['Tissues'")]

AttributeError: 'DataFrame' object has no attribute 'explode'

In [72]:
tran_prod.select('*', sf.explode(tran_prod['Product'])).show()

AttributeError: 'DataFrame' object has no attribute 'select'